nav {
  background-color: #5c5858;
  top: 0%;
  position: fixed;
  width: 100%;
  text-align: center;
}
.css {
  margin-right: 2mm;
}
#footer {
  background-color: #3b3131;
  left: 0%;
  bottom: 0%;
  width: 100%;
  text-align: center;
  position: fixed;
}
#ninja {
  list-style-type: none;
  border: 10mm double white;
  border-top: none;
  border-right: none;
  border-bottom: none;
  color: black;
  background-color: burlywood;
  font-size: 9mm;
}
.google {
  background-color: goldenrod;
  display: block;
}
.po {
  background-color: goldenrod;
  display: inline-block;
}
